body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(40, 100, 163, 1) 59%,
    rgba(0, 199, 255, 1) 92%,
    rgba(0, 212, 255, 1) 100%
  );
  /* display: flex; */
  align-items: center;
  min-height: 100vh;
}
.logo {
  /* flex-direction: row; */
  width: 100%;
  display: flex;
  margin-top: 20vh;
}
img {
  width: 50%;
  padding-top: 20px;
}
@media screen and (max-width: 600px) {
  .logo {
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  img {
    width: 50%;
  }
}
